aside.menu-area {
	background-color: var(--bg-dark);
	box-shadow: 
		2px 0 10px 0 rgba(0, 0, 0, 0.12),
		2px 0 15px 0 rgba(0, 0, 0, 0.2);

}
.menu a {
	display: block;
	text-decoration: none;
	color: #E26D30;
	font-weight: 300px;
	padding: 15px;
}
.menu a:hover {
	background: linear-gradient(135deg, #FBFFFD 0%, #FFFDF6 100% ) 
}
@media(max-width: 768px){
	.menu {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.menu a {
		display: inline;
		padding: 10px;
		margin: 0px;
	}
	.menu {
		height: 100%;
		justify-content: space-around;
	}
}